html {
    scroll-behavior: smooth;
  }
  
  body, * {
    background-color: beige;
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: roboto;
    text-decoration: none;
    list-style: none;
  }
  
  nav {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: none;
    margin-left: 50vh;
    padding: 0 10px;
  }
  
  nav .nav-btn {
    border: 2px solid black;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 10px;
    border-radius: 15px;
    color: black;
    margin: 1vh;
    -webkit-transition: 0.5 ease;
    transition: 0.5 ease;
  }
  
  #title {
    background-color: #1D9BF0;
    padding: 2vh;
    border-radius: 10px;
    -webkit-transition: width 2s, height 2s, -webkit-transform 2s;
    transition: width 2s, height 2s, -webkit-transform 2s;
    transition: width 2s, height 2s, transform 2s;
    transition: width 2s, height 2s, transform 2s, -webkit-transform 2s;
  }
  
  #title:hover {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  
  .nav-btn:hover {
    background-color: #1D9BF0;
    -webkit-transition: 1s;
    transition: 1s;
  }
  
  main {
    margin-top: 30px;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  main .mainContainer {
    margin-top: 10vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
  }
  
  #imgMain {
    width: 500px;
    height: 600px;
    border-radius: 10px;
    -webkit-transition: width 2s, height 2s, -webkit-transform 2s;
    transition: width 2s, height 2s, -webkit-transform 2s;
    transition: width 2s, height 2s, transform 2s;
    transition: width 2s, height 2s, transform 2s, -webkit-transform 2s;
  }
  
  #imgMain:hover {
    width: 700px;
    border-radius: 50px;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  
  #welcomeNotes {
    background-color: #1D9BF0;
    padding: 10vh;
  }
  
  #mainQoutes {
    margin-left: 5vh;
    text-align: justify;
  }
  
  #RecoveryContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: auto;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
    margin-top: 10vh;
    margin-left: 50vh;
  }
  
  #RecoveryContainer #recovery {
    border-radius: 20px;
    width: 50vh;
    height: 50vh;
  }
  
  #RecoveryContainer #RecoveryQuotes {
    margin-left: 5vh;
    text-align: justify;
    line-height: 1.5rem;
  }
  
  #TurfZoneContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
    margin-left: 50vh;
    margin-top: 10vh;
    margin-bottom: 10vh;
  }
  
  #TurfZoneContainer #TurfZone {
    border-radius: 20px;
    width: 50vh;
  }
  
  #TurfZoneContainer #TurfZoneQuotes {
    margin-left: 5vh;
    text-align: justify;
  }
  
  #ImgFacilitiesCointainer {
    margin-top: 10vh;
    display: -ms-grid;
    display: grid;
    width: auto;
    height: auto;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
        grid-template-areas: "box1 box2 box3", "box2 box3";
    gap: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  #ImgFacilitiesCointainer .facilities-Img {
    width: 500px;
    border-radius: 10px;
  }
  
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #1D9BF0;
    border-radius: 20px;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #2fcd08;
    -webkit-transition: 1s;
    transition: 1s;
  }
  
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
  }
  
  .column {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: center;
    margin-left: 50vh;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  footer {
    text-align: center;
    margin-top: 30vh;
  }
  
  footer #mainFooter {
    background-color: #1D9BF0;
    padding: 3vh;
  }
  
  #About {
    margin-top: 10vh;
    line-height: 5vh;
  }
  
  #WelcomeMessage {
    margin-bottom: 10vh;
  }
  
  @media (max-width: 500px) {
    nav {
      top: 0;
      position: -webkit-sticky;
      position: sticky;
      cursor: pointer;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      background: none;
      margin-left: 0;
    }
    nav .nav-btn {
      border: 2px solid black;
      padding: 10px;
      border-radius: 15px;
      color: black;
      margin: auto;
      margin-top: auto;
      padding: 2%;
      font-size: smaller;
      -webkit-transition: 0.5 ease;
      transition: 0.5 ease;
    }
    nav #title {
      text-align: center;
      font-size: small;
      padding: auto;
    }
    #imgMain {
      width: 100%;
      height: auto;
    }
    #mainQoutes {
      font-size: small;
      line-height: 1.3rem;
    }
    #RecoveryContainer {
      margin-left: auto;
    }
    #recovery {
      width: 50vh;
      height: 50%;
    }
    #RecoveryQuotes {
      margin-left: 0;
      line-height: 1.3rem;
      font-size: small;
    }
    .column {
      float: left;
      margin-left: 0%;
    }
    .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
    #About {
      text-transform: capitalize;
      line-height: 2rem;
    }
    #ImgFacilitiesCointainer {
      -ms-grid-columns: 1fr;
          grid-template-columns: 1fr;
    }
    #TurfZoneContainer {
      margin-left: 0;
    }
    #TurfZone {
      width: 50vh;
      height: 30vh;
    }
    #TurfZoneQuotes {
      margin-left: 0;
      line-height: 1.3rem;
      font-size: small;
    }
  }
  /*# sourceMappingURL=index.css.map */